<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Base panel</title>
        {% load static %}
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h1>Welcome Patient</h1>
        <div id="to_fill"></div>
        <button id="Login_button">Login</button>
        <button id="Fetch_button">Fetch</button>
        <div>
            <label for="specialization_dropdown">Specjalizacja</label>
            <select id="specialization_dropdown">
                <option value="" disabled selected>...</option>
            </select>
        </div>
        <div>
            <label for="doctors_dropdown">Lekarz</label>
            <select id="doctors_dropdown">
                <option value="" disabled selected>...</option>
            </select>
        </div>
        <div>
            <label for="place_dropdown">Placówka</label>
            <select id="place_dropdown" disabled>
                <option value="" disabled selected>...</option>
            </select>
        </div>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
